//
// Grid
//
// What you will find here:
// 01. Basic grid elements


// ---------------- 01. Basic grid elements

.container,
%container {
	width: calc( 100% - #{ $page-padding } - #{ $page-padding } );
	margin: 0 auto;
	max-width: $max-page-width;
}

// This will extend beyond the confines of .container or similar to be full viewport width
// See https://css-tricks.com/full-width-containers-limited-width-parents/
.width-full {
	@extend %push-fullwidth;
}

.row {
	@extend %container;
}

.col-1 {
	width: span(1);
}
.col-2 {
	width: span(2);
}
.col-3 {
	width: span(3);
}
.col-4 {
	width: span(4);
}
.col-5 {
	width: span(5);
}
.col-6 {
	width: span(6);
}
.col-7 {
	width: span(7);
}
.col-8 {
	width: span(8);
}
.col-9 {
	width: span(9);
}
.col-10 {
	width: span(10);
}
.col-11 {
	width: span(11);
}
.col-12 {
	width: span(12);
}
